* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

h1 {
    font-size: 40px;
}

.form {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    border: 2px solid black;
    border-radius: 3px;
}

.input {
    height: 50px;
    background-color: #eee;
    width: 100%;
    padding: 0 20px;
    border: none;
}

.btn {
    cursor: pointer;
    height: 50px;
    width: 150px;
    margin-left: -1px;
    background-color: rgba(167, 211, 167, 0.58);
    border-radius: 0px 3px 3px 0px;
    border: none;
    transition: 0.3s;
    border-left: 1px solid #000;
}

.btn:hover {
    background-color: black;
    color: rgb(101, 211, 101);
    transition: 0.3s;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    margin: 20px 0px 150px 0px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.btn-change {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px;
}

.btn-change img {
    width: 50px;
}

#list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.card {
    border: 1px solid black;
    padding: 10px 30px;
    background-color: rgba(167, 211, 167, 0.58);
    border-radius: 3px;
}

.poke-name {
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
}

.poke-id {
    text-align: center;
    color: #444444;
}

.poke-img {
    width: 250px;
}

img {
    width: 100%;
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    #list {
        grid-template-columns: 1fr 1fr 1fr;
    } 
}

@media screen and (min-width: 501px) and (max-width: 700px) {
    #list {
        grid-template-columns: 1fr 1fr;
    } 
}

@media screen and (max-width: 500px) {
    #list {
        grid-template-columns: 1fr;
    }

    .btn {
        width: 100px;
    }

    .input {
        padding: 0 2px;
    }

    .input::placeholder {
        font-size: 11px;
    }

    .btn-change img {
        width: 40px;
    }
}
